body{
    margin: 0px;
    background-color: rgb(197, 183, 165);
}



.title{
    font-size: 30px;
    text-align: center;
    color: rgb(17, 14, 1);

}
ul{
    padding: left;
    
}
ul li{
   margin-right: 50px;
}